<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
	
	<meta http-equiv="refresh" content="3; url=https://salvalinks.netlify.com/salvalinks/www/#/login">
	<head>
		<title>Estamos prontos!</title>
	</head>
	<body>
		<center>
<img src="https://i.ibb.co/z2JGP6d/IMG-20190612-WA0040.jpg" alt="Criando Mágica de E-mail" width="600" height="270" style="display: block;" />
			<h1>Que legal, agora você já pode salvar seus links!</h1>
			<h1>REDIRECIONANDO...</h1>
		</center>
	</body>
</html>
