<!DOCTYPE html>
<html>
<head>
	<style>

	</style>

<title>Redefinir Senha</title>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="telacadastro.css">
<body>
    <div class="redefinirbox">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfnuitsCCEJlTCYtApxtyhrHelF8sUHEC-faVCgSD7RcYj95sC2g" class="avatar">
        <h1>Insira suas informações</h1>
        <form>
            <input type="password" id="senha" placeholder="Digite a nova senha:">
            <p>Senha</p>
            <input type="password" id="senha2" placeholder="Digite a senha novamente:">
            <input type="submit" onclick="redefinir()" value="Redefinir">
        </form>
    </div>

	<script>
		var url = function(urlString) {
			var _params = {};
			
			urlString.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(match, key, value) {
				_params[key] = value;
			});
			
			this.param = function(paramName) {
				return _params[paramName];
			};
		};
		
		var urlString = window.location.href;
		var url = New Url(urlString);
		
		var email = url.param('email');
		var token = url.param('token');
		
		function mudarPreco() {
			let senha = document.getElementById("senha").value;
			let senha2 = document.getElementById("senha2").value;
			fetch('https://salvalinks.herokuapp.com/redefine?email='+email+'&token='+token+'&senha='+senha+'&senha2='+senha2, {
    		method: 'PUT',
    		headers: {
    		  'Accept': 'application/json',
    		  'Content-Type': 'application/json'
    		},

  			}).then(response => response.json())
  			  .then(data => {
  			  	  window.alert("senha alterada")
  			  })
  			  .catch(error => console.error(error))
  	
		}
		
		
	</script>
</body>
</head>
</html>
